#### LOADING THE FILE

In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('/content/datset - Sheet1.csv')

##### Exploring the DataFrame

In [18]:
df.head()

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
0,1001,2023-01-15,North,Alice Johnson,Laptop,2.0,700.0,1400.0,Credit Card
1,1002,2023-01-16,South,Rahul Mehta,Mobile Phone,5.0,300.0,1500.0,UPI
2,1003,2023-01-17,East,Fatima Noor,Headphones,10.0,50.0,500.0,Debit Card
3,1004,2023-01-18,West,NaN,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,NaN,NaN,UPI

##### Checking the DataTypes of the Columns

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        20 non-null     int64
 1   Date           20 non-null     object
 2   Region         20 non-null     object
 3   CustomerName   18 non-null     object
 4   Product        20 non-null     object
 5   Quantity       19 non-null     float64
 6   UnitPrice      18 non-null     float64
 7   TotalSales     18 non-null     float64
 8   PaymentMethod  20 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.5+ KB

We will change the Data Type of Date column to daetime Data type as follows

In [20]:
df['Date'] =pd.to_datetime(df['Date'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        20 non-null     int64
 1   Date           20 non-null     datetime64[ns]
 2   Region         20 non-null     object
 3   CustomerName   18 non-null     object
 4   Product        20 non-null     object
 5   Quantity       19 non-null     float64
 6   UnitPrice      18 non-null     float64
 7   TotalSales     18 non-null     float64
 8   PaymentMethod  20 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 1.5+ KB

Thus now Data Types of all the columns are okay

Identifying the Null Values in the Dataset

In [22]:
df.isna().sum()

OrderID          0
Date             0
Region           0
CustomerName     2
Product          0
Quantity         1
UnitPrice        2
TotalSales       2
PaymentMethod    0
dtype: int64

In [23]:
# Now we will see all the rows with missing values so sa to decide, how the null values
# should be treated

df[df.isna().any(axis=1)]

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
3,1004,2023-01-18,West,NaN,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,NaN,NaN,UPI
7,1008,2023-01-22,West,Daniel Smith,Laptop,NaN,680.0,NaN,Credit Card
11,1012,2023-01-26,West,NaN,Monitor,2.0,210.0,420.0,Credit Card
19,1020,2023-02-03,West,Maria Gonzalez,Laptop,1.0,NaN,700.0,Credit Card

--> Treating CustomerName columns Null Values

Do NOT Drop — Instead Fill with "Unknown" because

1) Small Dataset (only 20 rows):

Dropping 2 rows means losing 10% of your data, which is a big deal for such a small dataset.

2) CustomerName is useful, but not critical for calculations:

3) It doesn't affect numeric columns like Quantity, UnitPrice, TotalSales.

So you can still calculate sales, generate reports, etc.

In [27]:
df["CustomerName"] = df["CustomerName"].fillna("Unknown")

--> Treating the Null Values of Numeric columns

Here since we have very few nulls and the Outlier treatment is not done

Therefore imputing the null values of these numeric values with the median would be the best stratergy

In [29]:
df["Quantity"] = df["Quantity"].fillna(df["Quantity"].median())
df["UnitPrice"] = df["UnitPrice"].fillna(df["UnitPrice"].median())
df["TotalSales"] = df["TotalSales"].fillna(df["TotalSales"].median())

In [30]:
# Rechecking Null Values

df.isna().sum()

OrderID          0
Date             0
Region           0
CustomerName     0
Product          0
Quantity         0
UnitPrice        0
TotalSales       0
PaymentMethod    0
dtype: int64

#### Thus now we have no null values

In [31]:
df

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
0,1001,2023-01-15,North,Alice Johnson,Laptop,2.0,700.0,1400.0,Credit Card
1,1002,2023-01-16,South,Rahul Mehta,Mobile Phone,5.0,300.0,1500.0,UPI
2,1003,2023-01-17,East,Fatima Noor,Headphones,10.0,50.0,500.0,Debit Card
3,1004,2023-01-18,West,Unknown,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,292.5,602.5,UPI
5,1006,2023-01-20,South,Ankit Tiwari,Keyboard,4.0,100.0,400.0,Wallet
6,1007,2023-01-21,East,Sarah Lee,Monitor,2.0,200.0,400.0,Credit Card
7,1008,2023-01-22,West,Daniel Smith,Laptop,2.0,680.0,602.5,Credit Card
8,1009,2023-01-23,North,Priya Nair,Mobile Phone,4.0,295.0,1180.0,UPI
9,1010,2023-01-24,South,Ramesh Iyer,Headphones,6.0,55.0,330.0,Debit Card
10,1011,2023-01-25,East,Maria Gonzalez,Laptop,1.0,710.0,710.0,Wallet
11,1012,2023-01-26,West,Unknown,Monitor,2.0,210.0,420.0,Credit Card
12,1013,2023-01-27,North,Zoe Carter,Keyboard,3.0,95.0,285.0,Credit Card
13,1014,2023-01-28,South,Rahul Mehta,Laptop,2.0,700.0,1400.0,UPI
14,1015,2023-01-29,East,Fatima Noor,Mobile Phone,1.0,290.0,290.0,Wallet
15,1016,2023-01-30,West,Alice Johnson,Monitor,3.0,195.0,585.0,Credit Card
16,1017,2023-01-31,North,Daniel Smith,Tablet,2.0,450.0,900.0,UPI
17,1018,2023-02-01,South,Ankit Tiwari,Smart Watch,1.0,200.0,200.0,Wallet
18,1019,2023-02-02,East,Sarah Lee,Mobile Phone,2.0,310.0,620.0,UPI
19,1020,2023-02-03,West,Maria Gonzalez,Laptop,1.0,292.5,700.0,Credit Card

###  1. Sum of Sales by Region

In [32]:
region_sales = df.groupby("Region")["TotalSales"].sum()
print("Sum of Sales by Region:\n", region_sales)

Sum of Sales by Region:
 Region
East     2520.0
North    4367.5
South    3830.0
West     3027.5
Name: TotalSales, dtype: float64

### 2. Average Sales per Product

In [33]:
avg_sales_per_product = df.groupby("Product")["TotalSales"].mean()
print("\nAverage Sales per Product:\n", avg_sales_per_product)

Average Sales per Product:
 Product
Headphones      415.000000
Keyboard        342.500000
Laptop          922.083333
Mobile Phone    838.500000
Monitor         468.333333
Smart Watch     200.000000
Tablet          900.000000
Name: TotalSales, dtype: float64

###  3. Highest & Lowest Selling Products

#### For this we will first find Total Sales per Product and then its max and min:

In [34]:
product_sales = df.groupby("Product")["TotalSales"].sum()

#### Highest Selling Product:

In [35]:
highest_selling = product_sales.idxmax()
highest_amount = product_sales.max()
print(f"\nHighest Selling Product: {highest_selling} (${highest_amount})")

Highest Selling Product: Laptop ($5532.5)

#### Lowest Selling Product:

In [36]:
lowest_selling = product_sales.idxmin()
lowest_amount = product_sales.min()
print(f"Lowest Selling Product: {lowest_selling} (${lowest_amount})")

Lowest Selling Product: Smart Watch ($200.0)

### Use NumPy to Calculate Mean, Median, and Standard Deviation

In [37]:
print("\nNumPy Statistics:")
numeric_cols = ["Quantity", "UnitPrice", "TotalSales"]

for col in numeric_cols:
    mean = np.mean(df[col])
    median = np.median(df[col])
    std = np.std(df[col])
    print(f"{col}: Mean = {mean}, Median = {median}, Std Dev = {std}")

NumPy Statistics:
Quantity: Mean = 2.85, Median = 2.0, Std Dev = 2.127792283095321
UnitPrice: Mean = 342.25, Median = 292.5, Std Dev = 228.00342650934
TotalSales: Mean = 687.25, Median = 602.5, Std Dev = 384.18167902699366